<%- include('../partials/header.ejs') %>

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Nova marca</h1>
        <a href="/marcas" class="d-none d-sm-inline-block btn btn-sm btn-secondary shadow-sm"><i
                class="fas fa-chevron-circle-left"></i> Voltar</a>
    </div>

    <div class="row">
        <div class="col-lg-6">

            <form action="/marcas/adicionar" method="POST" novalidate>
                <div class="form-group">
                    <label for="inputName">Nome</label>
                    <input name="name" type="text"
                        class="form-control <% if(errors.fields.arrayOfFields.indexOf('name') >= 0){ %> is-invalid <% } %>"
                        id="inputName" aria-describedby="nameHelp" placeholder="Entre com o Nome"
                        value="<%= form.name %>">
                    <% if (errors.fields.arrayOfFields.indexOf('name') >= 0){ %>
                    <div class="invalid-feedback"><%= errors.fields.name %></div>
                    <% } %>
                </div>
                <div class="form-group">
                    <label for="inputEmail">Email</label>
                    <input name="email" type="email"
                        class="form-control <% if(errors.fields.arrayOfFields.indexOf('email') >= 0){ %> is-invalid <% }  %>"
                        id="inputEmail" aria-describedby="emailHelp" placeholder="Entre com o E-mail"
                        value="<%= form.email %>">
                    <%  if (errors.fields.arrayOfFields.indexOf('email') >= 0){ %>
                    <div class="invalid-feedback"><%= errors.fields.email %></div>
                    <% } %>
                </div>

                <div class="form-group">
                    <label for="inputDomain">Domínio Principal</label>
                    <input name="domain" type="domain"
                        class="form-control <% if(errors.fields.arrayOfFields.indexOf('domain') >= 0){ %> is-invalid <% }  %>"
                        id="inputdomain" aria-describedby="domainHelp" placeholder="Entre com o Domínio"
                        value="<%= form.domain %>">
                    <%  if (errors.fields.arrayOfFields.indexOf('domain') >= 0){ %>
                    <div class="invalid-feedback"><%= errors.fields.domain %></div>
                    <% } %>
                </div>

                <div class="form-group">
                    <label for="inputPlatform">Plataforma</label>
                    <select name="platform"
                        class="form-control <% if(errors.fields.arrayOfFields.indexOf('platform') >= 0){ %> is-invalid <% }  %>">
                        <option <% if(form.platform === "Selecione a plataforma") { %>selected <% } %>>Selecione a
                            plataforma</option>
                        <option <% if(form.platform === "aptecweb") { %> selected <% } %> value="aptecweb">AptecWeb
                        </option>
                        <option <% if(form.platform === "icone") { %> selected <% } %> value="icone">Ícone</option>
                        <!-- <option value="shopify">Shopify</option>
                        <option value="nuvemshop">Nuvem Shop</option> -->
                        <option <% if(form.platform === "tray") { %> selected <% } %> value="tray">Tray</option>
                    </select>
                    <%  if (errors.fields.arrayOfFields.indexOf('platform') >= 0){ %>
                    <div class="invalid-feedback"><%= errors.fields.platform %></div>
                    <% } %>
                </div>
                <div class="form-group">
                    <label for="inputLinkGoogleShopping">Link do Google Shopping</label>
                    <input name="linkGoogleShopping" type="linkGoogleShopping"
                        class="form-control <% if(errors.fields.arrayOfFields.indexOf('linkGoogleShopping') >= 0){ %> is-invalid <% }  %>"
                        id="inputlinkGoogleShopping" aria-describedby="linkGoogleShoppingHelp"
                        placeholder="Entre com o Link do Google Shopping" value="<%= form.linkGoogleShopping %>">
                    <small id="passwordHelpBlock" class="form-text text-muted">Informe o protocolo. Ex: (https://,
                        http://)
                    </small>
                    <%  if (errors.fields.arrayOfFields.indexOf('linkGoogleShopping') >= 0){ %>
                    <div class="invalid-feedback"><%= errors.fields.linkGoogleShopping %></div>
                    <% } %>
                </div>
                <%= JSON.stringify(form.fidexGender) %>
                <div class="form-group">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Gênero de produto fixo</h5>
                            <p class="card-text">Todos os produtos da marca serão definidos comforme sua escolha abaixo.
                            </p>
                            <div class="form-check form-check-inline">
                                <input name="fidexGender" class="form-check-input" type="radio" id="inlineRadioNone"
                                    value="" <% if(!form.fidexGender){ %>checked<% } %>>

                                <label class="form-check-label" for="inlineRadioNone" value="">Nenhum</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input name="fidexGender" class="form-check-input" type="radio" id="inlineRadioFemale"
                                    value="female" <% if(form.fidexGender === "female"){ %>checked<% } %>>
                                <label class="form-check-label" for="inlineRadioFemale">Feminino
                                    Adulto</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input name="fidexGender" class="form-check-input" type="radio" id="inlineRadioMale"
                                    value="male" <% if(form.fidexGender === "male"){ %>checked<% } %>>
                                <label class="form-check-label" for="inlineRadioMale">Masculino Adulto</label>
                            </div>
                        </div>
                    </div>
                </div>


                <button type="submit" class="btn btn-primary">Salvar</button>

            </form>


        </div>
    </div>

</div>

<!-- /.container-fluid -->
<%- include('../partials/footer.ejs') %>