<%- include('../partials/header.ejs') %>

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Usuários</h1>
        <a href="/usuarios/adicionar?action=Novo Usuário"
            class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-plus fa-sm text-white-50"></i> Nova usuário</a>
    </div>

    <div class="card shadow mb-4">
        <div class="card-body">

            <%- messagesFlash('message_templates', locals)  %>


            <table class="table">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Nome</th>
                        <th scope="col">E-mail</th>
                        <th scope="col">Ações</th>
                    </tr>
                </thead>
                <tbody>

                    <% usuarios.forEach( usuario => { %>
                    <tr>
                        <th scope="row"></th>
                        <td><%= usuario.name %><br /> <% if(usuario.role){ %> <span
                                class="badge badge-warning">Aguardando
                                Aprovação</span><% } %></td>
                        <td><%= usuario.email %></td>
                        <td>
                            <a href="/usuarios/editar/<%= usuario.id %>?action=Editar Usuário" class="btn">
                                <i class="fas fa-edit"></i></a>

                            <a href="/usuarios/excluir/<%= usuario.id %>?action=Excluir Usuário" class="btn">
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                    <% }) %>

                </tbody>
            </table>
        </div>

    </div>
</div>


<!-- /.container-fluid -->
<%- include('../partials/footer.ejs') %>